body{
	background-image: url(img/background-2.jpg);
	width: 50%;
	margin-left :25%;
	margin-right: 25%;
	margin-top: 10%;	
}


div input, div textarea{
	float: right;
	padding: 15px;	
}

div textarea {
	margin: 0px;
} 

div strong{
	font-size: 30px;
	font-weight: 500px
	
	margin-bottom: 100px !important;
}

form{
	margin-top: 15px;
	/*border :solid;*/
	border-style: blue;
	padding : 15px;
}
button {
	text-align: left;
}	
